@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap");
header {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.logo {
  width: 120px;
  height: 120px; }

.usuario {
  width: 50px;
  height: 50px;
  margin-top: 20px; }

.usuarioName {
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  right: 17px; }

.navegacion {
  width: 100%; }
  .navegacion nav ul {
    display: flex;
    justify-content: space-between; }
    .navegacion nav ul li {
      list-style-type: none;
      display: inline; }

nav ul {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px;
  background: linear-gradient(to left, #b2ebf2, #00bcd4); }

.links {
  text-decoration: none;
  text-transform: uppercase;
  padding: 40px;
  font-size: 20px;
  color: black;
  transition: height 0.5s, width 2s; }

.gridPadre {
  display: grid;
  grid-template-areas: "imagenUno imagenUno textoUno textoUno" "textoDos textoDos imagenDos imagenDos"; }

@media (max-width: 890px) {
  .gridPadre {
    grid-template-areas: "imagenUno" "textoUno" "imagenDos" "textoDos";
    gap: 50px; }
  .imagenDos {
    margin-top: 100px; }
  .imagenDos img {
    width: 100%; }
  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 160px; }
  .navegacion nav ul li a {
    text-align: center; } }

@media (max-width: 410px) {
  .imagenUno img {
    margin-left: 0px;
    width: 100%; } }

h1 {
  font-size: 70px; }

body {
  background: linear-gradient(to right, orange, yellow); }

* {
  font-family: "Oswald", sans-serif; }

.imagenUno {
  grid-area: imagenUno; }
  .imagenUno img {
    width: 90%;
    height: 80%;
    padding-left: 30px; }

.main, .textoUno, .textoDos {
  display: flex;
  align-items: center;
  justify-content: center; }

.textoUno {
  grid-area: textoUno; }
  .textoUno p {
    width: 90%;
    font-size: 50px; }

.imagenDos {
  grid-area: imagenDos; }
  .imagenDos img {
    width: 90%;
    height: 70%; }

.textoDos {
  grid-area: textoDos; }
  .textoDos p {
    width: 90%;
    font-size: 50px; }

.tituloUno {
  text-transform: uppercase;
  font-size: 35px;
  text-align: center; }

.tituloDos {
  text-transform: uppercase;
  font-size: 35px;
  display: inline;
  padding: 30px; }

footer {
  border: 2px black solid; }
  footer p {
    text-align: center;
    font-size: 20px; }

.formulario {
  display: grid;
  background-color: beige;
  width: 40%;
  height: 100px;
  grid-template-areas: "campo1 campo2" "campo3 campo3" "campo4 campo4" "submit reset"; }

.campo {
  grid-area: campo1;
  width: 100%; }

.campo2 {
  width: 100%;
  grid-area: campo2; }

.campo3 {
  width: 100%;
  grid-area: campo3; }

.campo4 {
  grid-area: campo4; }

.campo5 {
  grid-area: campo5; }

.campo6 {
  grid-area: campo6; }

@media (max-width: 450px) {
  .formulario {
    width: 97%; } }

.animacionUno:hover {
  background-color: #218bac;
  height: 20px;
  width: 15px; }

h2 {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }

h2 {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: infinite; }
