@import "parteheader";
@import "maps";
@mixin textoTitulos {
	text-transform: uppercase;
	font-size: map-get($tamañofuentes, parah2 );
}
body {
    background: linear-gradient(to right, orange, yellow);
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap");
  
  * {
    font-family: "Oswald", sans-serif;
  }
  .imagenUno {
	grid-area: imagenUno;
	img {
		width: 90%;
		height: 80%;
		padding-left: 30px;
	}
}
.main {
	display: flex;
	align-items: center;
	justify-content: center;
}
.textoUno {
	grid-area: textoUno;
    @extend .main;
	p {
		width: 90%;
		font-size: map-get($tamañofuentes, parap );
	}
}
.imagenDos {
	grid-area: imagenDos;
	img {
		width: 90%;
		height: 70%;
	}
}
.textoDos {
	grid-area: textoDos;
    @extend .main;
	p {
		width: 90%;
		font-size: map-get($tamañofuentes, parap );
	}
}
.tituloUno {
    @include textoTitulos;
	text-align: center;
}
.tituloDos {
	@include textoTitulos;
	display: inline;
	padding: 30px;
}
footer {
	border: 2px black solid;
	p {
		text-align: center;
		font-size: 20px;
	}
}

.formulario {
	display: grid;
	background-color: beige;
	width: 40%;
	height: 100px;
	grid-template-areas: "campo1 campo2"
    "campo3 campo3"
    "campo4 campo4"
    "submit reset";
}
.campo {
	grid-area: campo1;
	width: 100%;
}
.campo2 {
	width: 100%;
	grid-area: campo2;
}
.campo3 {
	width: 100%;
	grid-area: campo3;
}
.campo4 {
	grid-area: campo4;
}
.campo5 {
	grid-area: campo5;
}
.campo6 {
	grid-area: campo6;
}
@media (max-width: 768px) {
}

@media (max-width: 450px) {
  .formulario {
    width: 97%;
  }
}

	.animacionUno {
		&:hover {
			background-color: rgb(33, 139, 172);
			height: 20px;
			width: 15px;
		}
	}
	h2 {
		animation-name: texto;
		animation-duration: 2s;
		animation-iteration-count: infinite;
	}
    @keyframes texto {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 100%;
        }
      }
      h2 {
        animation-name: texto;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
      
